/* .rounded {
    height: 300px;
    width: 300px;
    display: block;
} */

/* #me {
    float: left;
} */

@media screen and (max-width: 768px) {
    body {
        background-color: #333;
    }

    .wrapper {
        width: 600px;
    }
}