#me, #bacon, #eggs, #saus, #ketchup, #olive, #oil {
    height: 350px;
    width: 350px;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    body {
        background-color: #333;
    }

    .container {
        width: 600px;
    }
}