body {
    background-image: url(https://github.com/Shoyu808/gold-enigma/blob/main/blue/images/lake.3.jpg?raw=true);
}

nav {
    font-family: 'Playfair Display', serif;
}

.container {
    background-color: whitesmoke;
    margin-top: 30px;
    font-family: 'Playfair Display', serif; 

}
/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

/* #me {
    height: 350px;
    width: 350px;
} */

/* @media screen and (max-width: 768px) {
    body {
        background-color: #333;
    }

    .container {
        width: 600px;
    }
} */
